table {
  border-collapse: collapse;
  margin-top: 10px; 
  margin-left: 75px;
}
th, td {
  padding: 5px; 
  border: 1px solid #ccc; 
}
button{
  margin-right: 100px;
  background-color:royalblue;
  color:white;
  margin-top: 100px;
}
.id{
  
}